/* app css stylesheet */
/* **********************  Global Styles  ********************** */
div.headerPadding { padding-top: 70px!important; }

label.control-label, .form-group.label-placeholder label.control-label { 
  color: #00a2ff!important;
}

.navbar.navbar-inverse {
    /* background-color: #00a2ff;  */
   background-color: #00a2ff;
}
 html, body { height: 100%; margin: 0; padding: 0; }
 #map { height: 100%; }
.footer {
    position: absolute;
     width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
    margin-top: 60px;

}
.navbar .navbar-nav .active a {
  background-color: #29b6f6!important;
}

p.superSmall {
  display: table-cell;
  vertical-align: middle;
  float: right;
    font-style: italic;
  font-size: 12px;
  margin-left: 7px;

}
a.navbar-brand {
  font-style: bold;
  font-size: 25px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
/* **********************  END Global Styles  ********************** */
body.bugaloooo { 
  background: url(assets/images/bg.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
div.bugaloooo{
background-color: rgba(255, 255, 255, 0)!important;
}
div.adTime.ad {
  display: none;
}
.bg-image {
    position: relative;
}
/*.bg-image img {
    display: block;
    width: 100%;
    margin: 0 auto;
    opacity: .8;
 -webkit-filter: contrast(1.3) sepia(0.3) saturate(1.3) hue-rotate(-10deg) brightness(0.95);
  filter: contrast(1.3) sepia(0.3) saturate(1.3) hue-rotate(-10deg) brightness(0.95);
}*/
.bg-image iframe {
  position: absolute;
    display: block;
     margin: 0 auto;
}
.bg-image h1 {
    position: absolute;
    text-align: center;
    margin-top: 10%;
    left: 0;
    right: 0;
    color: #FFFFFF;
    font-size: 50px;
    text-shadow: 3px 3px #585151;
}
div.holder {
  position: relative;
  width: 80%;
   height: 80%;

}
div.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

div.videoWrapper iframe {
  margin-top: 10px;
  position: absolute;
   text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* **********************  END Home Styles  ********************** */
/* **********************  Login Styles  ********************** */
.row.login {
    text-align: center;
}

.socialButtons {
    width: 80%;
}
.socialButtons.Facebook {
      background-color: #3b5998!important;
}
.socialButtons.Twitter {
      background-color: #55acee!important;
}
.socialButtons.Google {
      background-color: #dd4b39!important;
}

#socialButtons {
    margin-top: 6px;
}

.form-group label.control-label {
  color:  #009688;
}

/* **********************  End Login Styles  ********************** */
/* **********************  Profile Styles  ********************** */
button.accountButtons {
  float:right; background-color:#00a2ff!important; width:175px; padding-left: 0px; padding-right: 0px;
}

#profile-message {
    position: fixed;
    top: 85px;
    right: 20px;
 z-index: 100;
    width: 250px;
}
#inner-message {
    margin: 0 auto;
}
/* **********************  END Profile Styles  ********************** */
/* **********************  Cabyn-PRE Styles  ********************** */
label.cabynCreateLabels {
  color: black;
}
h4.cabynDescription {
  margin-bottom: -18px;
}
/* **********************  END Cabyn-PRE Styles  ********************** */
/* **********************  Cabyn Styles  ********************** */
div.eventsWells {
  margin-bottom: 5px!important;
  margin-top: 5px!important;
}
div.smallMargin {
      margin-top: -32px;
}
li.me {
      color: #00a2ff; 
}
hr.hrEvents {
    background: #383434;
    width: 60%;
    margin-top: 40px;
}
#cabynTitles {
margin-top: 5px;
margin-left: 10px;
display: inline-block;
}

#cabynMemNum {
  display: inline-block;
  float: right;
  margin-right: 10px;
}
#cabynMemAge {
  display: inline-block;
  float: right;
  margin-right: 20px;
}

ul.memberList {
  list-style-type: none;
  padding-left: 0px;
}

div.circle{
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    border:1px solid #000f;
    width:10px;
    height:10px;
    background-color: #4CAF50;
    display: inline-block;
}

div.circle2{
   -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    border:1px solid #000f;
    width:10px;
    height:10px;
    background-color: #727272;
    display: inline-block;
}

div.circle3{
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    border:1px solid #000f;
    width:10px;
    height:10px;
    background-color: #FBC02D;
    display: inline-block;
}

.chatMatch {
    margin-top: 15px;
  }

.example-chat a, a:focus, a:hover {
    color: #E52951;
}
.example-chat {

  font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  border-radius: 3px;
  -webkit-box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  background-color: #dfe3ea;
  border: 1px solid #CCC;
  overflow: auto;
  padding: 0px;
  margin-top: 15px;
  font-size: 18px;
  line-height: 22px;
  color: #666; }
  .example-chat header {
    background-color: #EEE;
    background: -webkit-gradient(linear, left top, left bottom, from(#EEEEEE), to(#DDDDDD));
    background: -webkit-linear-gradient(top, #EEEEEE, #DDDDDD);
    background: linear-gradient(top, #EEEEEE, #DDDDDD);
    -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.9), 0px 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.9), 0px 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 3px 3px 0px 0px;
    border-bottom: 1px solid #CCC;
    line-height: 24px;
    font-size: 12px;
    text-align: center;
    color: #999; }
  .example-chat input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding: 0px 10px;
    height: 30px;
    font-size: 18px;
    width: 100%;
    font-weight: normal;
    outline: none; }
  .example-chat .example-chat-toolbar {
    background-color: #FFF;
    padding: 10px;
    position: relative;
    border-bottom: 1px solid #CCC; }
    .example-chat .example-chat-toolbar label {
      text-transform: uppercase;
      line-height: 32px;
      font-size: 14px;
      color: #999;
      position: absolute;
      top: 10px;
      left: 20px;
      z-index: 1; }
    .example-chat .example-chat-toolbar input {
      -webkit-box-shadow: none;
      box-shadow: none;
      border: 1px solid #FFF;
      padding-left: 100px;
      color: #999; }
      .example-chat .example-chat-toolbar input:active, .example-chat .example-chat-toolbar input:focus {
        color: #1d9dff;
        border: 1px solid #FFF; }
  .example-chat ul {
    list-style: none;
    margin: 0px;
    padding: 20px;
    height: 450px;
    overflow: auto; }
    .example-chat ul li {
      margin-bottom: 10px;
      line-height: 24px; }
      .example-chat ul li:last-child {
        margin: 0px; }
    .example-chat ul .example-chat-username {
      margin-right: 5px; }
  .example-chat footer {
    display: block;
    padding: 10px; }
    .example-chat footer input {
      border: 1px solid #ced3db;
      height: 40px; }


/* **********************  END Cabyn Styles  ********************** */


